<html>
<head>
    <meta charset="utf-8">
    <title>Add new Performer to Song</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Select the Artist to add to the List of Performers </h1>
<!--        <h1 th:text="${error}"></h1>-->
    </header>
    <section>
        <h2>Select artist:</h2>
        <!-- Make changes to this code to dynamically display radio buttons for each artist as in the example -->
        <form action="/songDetails" method="POST">
            <input type="hidden" name="id" th:value="${song.getId()}">
            <label th:each="artist : ${artists}">
                <input type="radio" name="artistId" th:value="${artist.getId()}">
                <span th:text="${artist}"></span>
                <br/>
            </label>
            <br/>
            <input type='submit' value='Add artist'>
        </form>
    </section>
    <aside>
        <table>
            <tr>
                <td><b>Track Id</b></td>
                <td th:text="${song.getTrackId()}"></td>
            </tr>
        </table>
    </aside>
</body>
</html>