<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Songs Homepage - Welcome to My Music Store</title>
        <style type="text/css">
            body {
                width: 800px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Welcome to My Music Store</h1>
        </header>
        <main>
            <h2>Search Song:</h2>
            <form action="/listSongs" method="post">
                <input type="text" name="text">
                <input type="submit" value="Search">
            </form>
            <h2>Choose a song:</h2>
            <form action="/artist" method="get">
                <label th:each="song : ${songs}">
                    <input type="radio" name="trackId" th:value="${song.getTrackId()}">
                    <span th:text="${song}"></span>
                    <a th:href="@{'/songs/edit/{id}' (id=${song.getId()})}">
                        Edit
                    </a>
                    <a href="#">Delete</a>
                    <br/>
                </label>
                <br/>
                <input type='submit' value='Submit'>
            </form>
            <h2>Add New Song:</h2>
            <a href="/songs/add">
                <button>Add new song</button>
            </a>
        </main>
    </body>
</html>